@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root
{
    --white:#fff;
    --black: #333;
    --orange:orangered;
}
*
{
    font-family: 'Inter', sans-serif;
}
.custom-banner-img {
    background-image: url(./image/banner.jpg);
    width: 100% !important;
    min-height: 600px !important;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.form-bg
{
    background-color: rgba(255,255,255,0.5);
}
/* banner */
.header__section 
{
    position: absolute;
    width: 100%;
}
.logo__section 
{
    margin: 0px 20px;
}
.menu__sec 
{
    display: flex;
    height: 80px;
    align-items: center;
}
.conatacts__section 
{
    display: flex;
    flex: 1;
    justify-content: right;
    margin: 4px 15px;
}
.conatacts__section a 
{
    padding: 0 20px;
    color: var(--white);
}
.fa
{
    color: var(--orange);
}
.conatacts__section a.contact__email:before 
{
    content: "\f0e0";
    font-family: "FontAwesome";
    margin: 5px;
}
.conatacts__section a.contact__phone:before 
{
    content: "\f095";
    font-family: "FontAwesome";
    margin: 5px;
}
.social__section 
{
    display: flex;
    margin: 4px 15px;
}
.social__section li 
{
    list-style-type: none;
    padding: 0 7px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    margin: 5px;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}
.banner__text h1
{
    color: var(--orange);
    font-size: 3rem;
}
@media only screen and (max-width: 800px) 
{
    .menu__sec 
    {
      flex-direction: column;
      height: auto;
    }
    .conatacts__section 
    {
      flex-direction: column;
    }
    .banner__text h1 
    {
      font-size: 2.7rem;
      color: var(--orange);
      padding: 10px;
    }
}

.verticalButton {
    padding:0px 0px 0px 0px;
    width: 250px;
    height:40px;
    font-weight: 500;
    font-size: larger;
    background:var(--blue);
    border-radius: 0px 0px 5px 5px;
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    position: fixed;
    right: -105px;
    top: 300px;
  }
.custom-title
{
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
}
.custom-bg
{
    background-image: url(./image/placement/course.png);
    background-size: cover;
}
.custom-desc-card
{
    background: #fff;
    color: #333;
    padding: 25px 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 2px 0 var(--orange);
}
.custom-desc-card:hover
{
    background: #ff00cc; 
    background: -webkit-linear-gradient(to right, #ff00cc, #333399); 
    background: linear-gradient(to right, #ff00cc, #333399);
    color: #fff;
}
.custom-banner-bg
{
    background: url(./image/banner-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
/* icon */
.custom-course-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.custom-circle
{
    margin: 10px;
}
.custom-circle-bg
{
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    background-color: var(--orange);
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: var(--orange) 0px 0px 0px, var(--orange) 0px 0px 0px, var(--orange) 0px 0px 30px;
}
.custom-footer
{
   color: var(--orange);
   text-align: center;
}


